In [4]:
import pandas as pd
import numpy as np

In [5]:
#cut function
pd.cut(np.array([1,7,5,4,6,3]),3)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [6]:
#cut function
pd.cut(np.array([1,7,5,4,6,3]),5)

[(0.994, 2.2], (5.8, 7.0], (4.6, 5.8], (3.4, 4.6], (5.8, 7.0], (2.2, 3.4]]
Categories (5, interval[float64]): [(0.994, 2.2] < (2.2, 3.4] < (3.4, 4.6] < (4.6, 5.8] < (5.8, 7.0]]

In [9]:
# Discover the same bins, but assign them specific lables
pd.cut(np.array([1,7,5,4,6,3]),3, labels=["bad","medium","good"])

['bad', 'good', 'medium', 'medium', 'good', 'bad']
Categories (3, object): ['bad' < 'medium' < 'good']

In [10]:
# Importing dataset
df = pd.read_csv(r'C:\Users\add\Documents\GitHub\Pandas_MasterClass\datasets\employee.csv')

In [11]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [12]:
df['DistanceFromHome'].value_counts()

2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
23     27
29     27
18     26
15     26
20     25
25     25
26     25
28     23
19     22
14     21
17     20
12     20
22     19
13     19
21     18
27     12
Name: DistanceFromHome, dtype: int64

In [13]:
# defining the function which will bin the numerical DistanceFromHome variable into Categories
def distance_from_home(x):
    if x <= 2:
        return 'Near'
    elif x > 2 and x <=5:
        return 'Far'
    elif x > 5:
        return 'Extreamly Far'
    
df['DistanceFromHome'] = df['DistanceFromHome'].apply(distance_from_home)
df['DistanceFromHome'].value_counts()

Extreamly Far    838
Near             419
Far              213
Name: DistanceFromHome, dtype: int64