### Binary Operations on series
We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc..

In [1]:
# importing pandas
import pandas as pd

In [3]:
# creating two pandas series
s1 = pd.Series([2,4,6,1,6,0])
s2 = pd.Series([5,1,7,4,2,3])

In [4]:
s1

0    2
1    4
2    6
3    1
4    6
5    0
dtype: int64

In [5]:
s2

0    5
1    1
2    7
3    4
4    2
5    3
dtype: int64

In [6]:
s1 + s2

0     7
1     5
2    13
3     5
4     8
5     3
dtype: int64

In [8]:
# adding two series using the add() function
s1.add(s2)

0     7
1     5
2    13
3     5
4     8
5     3
dtype: int64

In [9]:
s1 - s2

0   -3
1    3
2   -1
3   -3
4    4
5   -3
dtype: int64

In [11]:
# subtracting two series using the sub() function
s1.sub(s2)

0   -3
1    3
2   -1
3   -3
4    4
5   -3
dtype: int64

In [12]:
# multiplying two series using the mul() function
s1.mul(s2)

0    10
1     4
2    42
3     4
4    12
5     0
dtype: int64

In [13]:
s1 * s2

0    10
1     4
2    42
3     4
4    12
5     0
dtype: int64