### Series Groupby
groupby() function is used to split the data into groups based on some criteria.

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [14]:
# importing library
import pandas as pd

In [15]:
# creating a series
ser = pd.Series([390., 350., 30., 20.],
                index=['Falcon', 'Falcon', 'Parrot', 'Parrot'], name="Max Speed")

In [16]:
ser

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [17]:
# groupby
ser.groupby(["a", "a", "b", "b"]).mean()

a    370.0
b     25.0
Name: Max Speed, dtype: float64

In [18]:
ser.groupby(level=0).mean()

Falcon    370.0
Parrot     25.0
Name: Max Speed, dtype: float64

### Windows function in pandas

In [19]:
# creating a series
s = pd.Series([2,4,7,3,1,8,4,2,5])
s

0    2
1    4
2    7
3    3
4    1
5    8
6    4
7    2
8    5
dtype: int64

In [23]:
s.rolling(window=2).sum()

0     NaN
1     6.0
2    11.0
3    10.0
4     4.0
5     9.0
6    12.0
7     6.0
8     7.0
dtype: float64

In [27]:
s

0    2
1    4
2    7
3    3
4    1
5    8
6    4
7    2
8    5
dtype: int64

In [26]:
s.expanding(min_periods = 2).sum()

0     NaN
1     6.0
2    13.0
3    16.0
4    17.0
5    25.0
6    29.0
7    31.0
8    36.0
dtype: float64