In [46]:
import pandas as pd

In [45]:
#reading dataset
df = pd.read_csv(r'C:\Users\add\Documents\GitHub\Pandas_MasterClass\datasets\life_expectancy_years.csv')

In [47]:
#head function
df.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.7,78.9,79.0,79.1,79.3,79.4,79.5,79.7,79.8,79.9

In [48]:
df.shape

(187, 302)

In [49]:
#melting function
df_melted = pd.melt(df, id_vars = 'country', var_name = 'year', value_name = 'Life Expectancy')
df_melted

           country  year  Life Expectancy
0      Afghanistan  1800             28.2
1          Albania  1800             35.4
2          Algeria  1800             28.8
3          Andorra  1800              NaN
4           Angola  1800             27.0
...            ...   ...              ...
56282    Venezuela  2100             87.3
56283      Vietnam  2100             85.3
56284        Yemen  2100             78.4
56285       Zambia  2100             78.1
56286     Zimbabwe  2100             75.7

[56287 rows x 3 columns]

In [50]:
df_melted

           country  year  Life Expectancy
0      Afghanistan  1800             28.2
1          Albania  1800             35.4
2          Algeria  1800             28.8
3          Andorra  1800              NaN
4           Angola  1800             27.0
...            ...   ...              ...
56282    Venezuela  2100             87.3
56283      Vietnam  2100             85.3
56284        Yemen  2100             78.4
56285       Zambia  2100             78.1
56286     Zimbabwe  2100             75.7

[56287 rows x 3 columns]

In [52]:
df_melted.pivot(index='country', columns='year', values= 'Life Expectancy')

year,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,28.1,...,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.7,78.9,79.0,79.1,79.3,79.4,79.5,79.7,79.8,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,...,86.2,86.3,86.5,86.6,86.7,86.9,87.0,87.1,87.2,87.3
Vietnam,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,84.3,84.4,84.5,84.6,84.7,84.8,84.9,85.0,85.2,85.3
Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,77.3,77.4,77.5,77.7,77.8,77.9,78.0,78.2,78.3,78.4
Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,76.8,77.0,77.1,77.3,77.4,77.6,77.7,77.8,78.0,78.1
Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,74.5,74.6,74.7,74.8,75.0,75.1,75.3,75.4,75.5,75.7