https://pandas.pydata.org/pandas-docs/stable/user_guide/window.html#overview

https://towardsdatascience.com/window-functions-in-pandas-eaece0421f7

https://pandas.pydata.org/docs/reference/window.html#rolling-window-functions

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('Customers.csv')
df.columns = ['Date','Customers']
df = df.set_index('Date')

In [14]:
df.head()

         Customers
Date
1949-02        120
1949-03        134
1949-04         67
1949-05        123
1949-06        137

In [15]:
df.shape

(143, 1)

In [16]:
df.isnull().sum()

Customers    0
dtype: int64

In [17]:
df['Customers'].rolling(window = 2).sum()

Date
1949-02       NaN
1949-03     254.0
1949-04     201.0
1949-05     190.0
1949-06     260.0
            ...
1960-08    1228.0
1960-09    1114.0
1960-10    1228.0
1960-11    1470.0
1960-12    1482.0
Name: Customers, Length: 143, dtype: float64

In [19]:
df['Customers'].rolling(window = 143).max()

Date
1949-02      NaN
1949-03      NaN
1949-04      NaN
1949-05      NaN
1949-06      NaN
           ...
1960-08      NaN
1960-09      NaN
1960-10      NaN
1960-11      NaN
1960-12    770.0
Name: Customers, Length: 143, dtype: float64