In [1]:
# importing library
import pandas as pd

In [2]:
# reading dataset
df = pd.read_csv('Customers.csv')
df.columns = ['Date','Customers']
df = df.set_index('Date')

In [3]:
df.head()

         Customers
Date
1949-02        120
1949-03        134
1949-04         67
1949-05        123
1949-06        137

In [4]:
# shape of the dataset
df.shape

(143, 1)

In [9]:
# using expanding window functions
df['Customers'].expanding(min_periods = 1).sum()

Date
1949-02      120.0
1949-03      254.0
1949-04      321.0
1949-05      444.0
1949-06      581.0
            ...
1960-08    38937.0
1960-09    39445.0
1960-10    40165.0
1960-11    40915.0
1960-12    41647.0
Name: Customers, Length: 143, dtype: float64

In [10]:
df['Customers'].expanding(min_periods = 1).max()

Date
1949-02    120.0
1949-03    134.0
1949-04    134.0
1949-05    134.0
1949-06    137.0
           ...
1960-08    770.0
1960-09    770.0
1960-10    770.0
1960-11    770.0
1960-12    770.0
Name: Customers, Length: 143, dtype: float64