In [1]:
import pandas as pd

In [2]:
a = pd.CategoricalIndex(data=['average','good','excellent'])

In [3]:
a

CategoricalIndex(['average', 'good', 'excellent'], categories=['average', 'excellent', 'good'], ordered=False, dtype='category')

In [8]:
df = pd.DataFrame([[1,2,3],[5, 7,8], [7 ,9 ,10]], index=a)

In [9]:
df

           0  1   2
average    1  2   3
good       5  7   8
excellent  7  9  10

In [11]:
df.iloc[1]

0    5
1    7
2    8
Name: good, dtype: int64

In [13]:
df.loc['good']

0    5
1    7
2    8
Name: good, dtype: int64