In [1]:
import pandas as pd

In [13]:
iv = pd.interval_range(start=0, end=5, closed = 'neither')

In [14]:
iv

IntervalIndex([(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)],
              closed='neither',
              dtype='interval[int64]')

In [15]:
df = pd.DataFrame([4,6,3,7,0], index=iv)

In [16]:
df

        0
(0, 1)  4
(1, 2)  6
(2, 3)  3
(3, 4)  7
(4, 5)  0

In [17]:
df.iloc[0:3]

        0
(0, 1)  4
(1, 2)  6
(2, 3)  3

In [18]:
df.index

IntervalIndex([(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)],
              closed='neither',
              dtype='interval[int64]')