In [1]:
import pandas as pd

In [3]:
# creating PeriodIndex
webinar_date = pd.period_range('2021-06-07', periods= 6, freq = 'M')

In [4]:
# creating a list of courses
course = ['ANN', 'CNN', 'Python','SQL', 'NLP', 'ML']

In [7]:
# creating a dataframe with period index
df = pd.DataFrame(course, index = webinar_date, columns = ['Course'])

In [8]:
df

         Course
2021-06     ANN
2021-07     CNN
2021-08  Python
2021-09     SQL
2021-10     NLP
2021-11      ML

In [9]:
# creating period index representing all monthly boundaries in 2012
pi_2012 = pd.period_range('1/1/2012', periods = 12, freq = 'M')

In [10]:
pi_2012

PeriodIndex(['2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
             '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12'],
            dtype='period[M]', freq='M')