In [10]:
# importing required libraries
import pandas as pd
import numpy as np

In [2]:
eval('3+4')

7

In [5]:
# creating dataframe
df = pd.DataFrame([[2,3], [5,1],[4,5]], columns = ['A','B'])
df

   A  B
0  2  3
1  5  1
2  4  5

In [7]:
eq = 'A + 3 / B'
df.eval(eq)

0    3.0
1    8.0
2    4.6
dtype: float64

In [8]:
# evaluating complex equations
eqn = "A + B + sqrt(B+4)"
df.eval(eqn)

0     7.645751
1     8.236068
2    12.000000
dtype: float64

In [11]:
# evaluating complex equations without using eval()
new_col = df.B + 4
result = df.A + df.B + new_col.apply(np.sqrt)
result

0     7.645751
1     8.236068
2    12.000000
dtype: float64